<head>
    <title><%= serieDetail.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<%- include('header') -%>

<h1 class="title-detail"><%= serieDetail.name %> </h1>
<div class="year-runtime-detail">TV Serie: <%= imdbDetail.Year %></div>
<div class="box-movie-detail">
    <div class="detail-part1">
        <img class="poster-detail" src="https://www.themoviedb.org/t/p/w220_and_h330_face<%= serieDetail.poster_path %>" alt="">

    </div>
    <div class="general-info">
        <div><%= serieDetail.networks.name %></div>
        <div class="ratings">
            <h3 ckass="rating-title">Ratings</h3>
            <% for( let i = 0; i < imdbDetail.Ratings.length; i++ ) { 
                if(imdbDetail.Ratings[i].Source=="Internet Movie Database"){%>
            
                <div class="rating-detail">
                    <div><img src="/images/IMDB_Logo.png" alt=""></div>
                    <span class="imdb-rating"> <%= imdbDetail.Ratings[i].Value %></span>
                </div>
            
            <% } else if(imdbDetail.Ratings[i].Source=="Rotten Tomatoes"){ %>
                <div class="rating-detail">
                    <div><img src="/images/Rotten_Tomatoes_Logo.png" alt=""></div>
                    <span class="rt-rating"> <%= imdbDetail.Ratings[i].Value %></span>
                </div>
            <% }else {%>
                <div class="rating-detail">
                    <div><img src="/images/Metacritic_Logo.png" alt=""></div>
                    <span class="metacritic-rating"> <%= imdbDetail.Ratings[i].Value %></span>
                </div>
            <% }} %>
                <div class="rating-detail">
                    <div><img src="/images/tmdb-logo.png" alt=""></div>
                    <span class="tmdb-rating"><%= Number(serieDetail.vote_average.toFixed(1)) %></span>
                </div>
        </div>
        <div class="detail-part2">
            <hr>
            <div class="genres-detail"><%= imdbDetail.Genre %></div>
            <hr>
            <div class="seasons-info">
                <div class="seasons-title">Total Seasons:</div>
                <div class="season-description"><%= serieDetail.number_of_seasons %></div>
            </div>
            <div class="episodes-info">
                <div class="episode-title">Total Episodes:</div>
                <div class="episode-description"><%= serieDetail.number_of_episodes %></div>
            </div>
            <div class="creators">
                <div class="creator-title">Creators:</div>
                <ul>
                    <% for( let i = 0; i < serieDetail.created_by.length; i++ ) {%>
                        <li><%=serieDetail.created_by[i].name %></li>
                    <%}%>
                </ul>    
            </div>
            <div class="actors">
                <div class="actors-detail">Actors: </div>
                <div class="actors-name"><%= imdbDetail.Actors %></div>
            </div>
            <div class="description-detail">Plot:</div><div class="plot"><%= serieDetail.overview %></div>
        </div>
    </div>
    <div class="video-small">
        <iframe width="260" height="146" src="https://www.youtube.com/embed/<%=videoDetail.results[0].key%>"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    </div>

    <div class="video">
        <iframe width="400" height="225" src="https://www.youtube.com/embed/<%=videoDetail.results[0].key%>"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    </div>

</div>

<%- include('footer') -%>